.hero {
    /* ES LA IMAGEN DE FONDO GRANDE EN EL HERO
    EN src PUEDEN PONER LA URL, O DESCARGAR LA FOTO
    Y GUARDARLA EN LA MISMA CARPETA Y APUNTAR AHÍ */
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Fuente/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .boton-secundario{
    border-radius: 20px;
  }
  