 /* Estilos para ocultar el contenido inicialmente */
 details[open] summary::after {
    content: "▼"; /* Símbolo de flecha hacia abajo cuando está abierto */
}

details summary::after {
    content: "►"; /* Símbolo de flecha hacia la derecha cuando está cerrado */
}

/* Estilos para dar formato al botón desplegable */
details summary {
    cursor: pointer;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el contenido desplegable */
details div {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 10px;
}

details summary::-webkit-details-marker {
    display: none;
  }
  details summary::marker {
    display: none;
  }

  option {
    border: 2px solid #7d0300;
    border-radius: 50px ;
    background-color: white;
    color: #7d0300;
    padding: 8px 8px;
  }

  /* Estilos generales para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  overflow: auto;
}

.modal:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modal-contenido {
  /*display: inline-block; */
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  max-width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de cierre */
.cerrar-modal {
  float: right;
  font-size: 24px;
  margin-top: -10px;
  margin-right: -10px;
}

.cerrar-modal:hover {
  color: red;
}

/* Estilos para la imagen */
.imagen-responsiva {
  max-width: 50%;
  height: auto;
 
}

/* Estilos para la lista y sus elementos */
.listaDani {
  list-style: none;
  padding: 0;
}


/* Estilos para la respuesta de la lista */
.listaDani li {
  margin-bottom: 10px;
}

@media (max-width: 1100px) {
  .modal-contenido {
      margin: 5px;
  }

  
}



.contenido-con-imagen {
  display: flex;
  align-items:flex-start ;
}


