$color-primario: #7d0300;
$color-secundario: #B21C1D;
$color-terciario: #F1BD2D;
$min-width-small: 768px;
$min-width-grande: 1196px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: $color-primario;
}

header {
    height: 82px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .header-logo {
        width: 25%;
        height: 75%;
        max-width: 250px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
    .header-botones-links {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .header-links {
            display: flex;
            list-style-type: none;
            display: flex;
            gap: 15px;
            li {
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    padding: 5px 5px;
                    &:hover {
                        border-bottom: 1px solid $color-secundario;
                    }
                }
            }
        }
        .header-botones {
            .boton-carrito {
                transition: 0.1s ease;
                i {
                    color: $color-primario;
                }
                &:hover {
                    i {
                        color: white;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $min-width-small) {
            padding: 10px 8px;
        .header-logo {
            display: none;
        }
        .header-botones-links {
            width: 100%;
            .header-botones button {
                padding: 8px 10px;
            }
        } 
    }
}

.boton-secundario {
    border-radius: 50px;
    padding: 16px 24px;
    font-weight: 700;
    transition: 0.1s ease-out;
    cursor: pointer;
    color: $color-secundario;
    background: white;
    border: 2px solid $color-secundario;
    &:hover {
        color: white;
        background: $color-secundario;
    }
}


.boton-primario {
    border-radius: 50px;
    padding: 16px 24px;
    font-weight: 700;
    transition: 0.1s ease-out;
    cursor: pointer;
    color: black;
    background: $color-terciario;
    border: 2px solid $color-terciario;
    &:hover {
        color: white;
        background: $color-primario;
        border: 2px solid $color-primario;
    }
}

footer {
    height: 132px;
    background: $color-primario;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        font-family: 'Reenie Beanie', 'Inter', 'sans-serif';
    }
    .redes-sociales {
        text-align: center;
        p {
            color: white;
            font-size: 32px;
        }
        .iconos-redes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            a {
                i {
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
    .footer-marca {
        color: white;
        font-size: 48px;
    }
    @media screen and (max-width: $min-width-small) {
        .redes-sociales {
             p {
                font-size: 24px;
            }
            .iconos-redes a i{
                font-size: 16px;
            }
        }
        .footer-marca {
            color: white;
            font-size: 32px;
        }
    }
}