* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #7d0300;
}

header {
    height: 82px;
    border-bottom: 1px solid black ;
}
.contenedor-logo {
    width: 25%;
    height: 75%;
}

.contenedor-logo img {
    width: 100%;
}

footer {
    height: 132px;
    color: white;
    background: #7D0300;
}



