.modal {
  display: none;
  position: fixed;
  opacity: 1;
  z-index: 2;
}
.modal:target {
  display: block;
}
.modal i {
  font-size: 24px;
}
.modal .fondo_oscuro {
  display: block;
}

.modal .ventana-emergente {
  display: block;
}

.ventana-emergente .arriba{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid red;
}

.ventana-emergente .detalles-pedido .datos-cliente{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.ventana-emergente .detalles-pedido .resumen-pedido {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #F4F4F4;
}

.ventana-emergente .detalles-pedido .resumen-pedido .producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.buttonCancelar{
    background-color: white;
    border: 2px solid #B81A1A;
    padding: 10px 15px;
    text-align: center;
    border-radius: 32px;
    float: center;
}
.form {
    color:#B81A1A;
    border-width:thin;
    border-style:solid;
    border-color:#B81A1A;
    border-radius: 8px;
    padding: 10px 15px;
    margin-left: 4px;

}

.hr{
    background-color: #7d0300;
     height: 1px;
 }
 

  .celda {
    border-collapse: separate;
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    .tabla button {
      padding: 10px;
    }
  }

