@charset "UTF-8";
.contenedor{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.margen{
    margin-left: 4px;
}

.celdas {
    background-color: white;
    text-align: center;
    border-collapse: separate;
    border: 1px solid #000;
    height: 70px;
    width: 130px;
    padding: 40px;
  }

  .celdaIcono {
    background-color: white;
    text-align: center;
    border-collapse: separate;
    border: 1px solid #000;
    height: 70px;
    width: 130px;
  }

